*{
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    height:100vh;
    width:100%;
    flex-direction: row;
}

.left{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); ;
}

.right{
    flex-grow: 1;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
}

.div-1{
    padding: 100px 50px 0px 10px;
    max-width:60%;
}

h3{
    margin-bottom: 50px;
}

.div-2{
    padding: 30px 50px 0px 10px;
}


img{
    width:30%;
    margin-top: 150px;
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

form>*{
    display: flex;
    gap:40px;
}

button{
    width: 20%;
    color:white;
    background-color: green;
}

p{
    margin-top: 30px;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}



